.card {
  text-align: left;

  &:not(&:last-child) {
    padding-bottom: 32px;
    border-bottom: 1px solid color-mix(in srgb, var(--border) 10%, transparent);
  }

  @include on-tablet {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 24px;
  }

  &__left {
    margin-left: 16px;
    margin-bottom: 24px;
  }

  &__title {
    @include text-lg-semi;
    margin: 0;
    margin-bottom: 8px;
  }

  &__wrapper {
    display: flex;
    gap: 16px;
    align-items: center;

    @include on-tablet {
      justify-content: space-between;
    }
  }

  &__date {
    @include text-xs-medium;
    padding: 4px 12px;
    color: $primary-active;

    background: $highlight-bg;
  }

  &__result {
    @include text-lg-medium;
    margin-bottom: 8px;
  }

  &__certificate {
    &:hover {
      text-decoration: underline;
    }
  }

  &__desc {
    @include text-base-regular;
    color: var(--text-light);
  }
}
