// viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

// inline paddings
$mobile-padding-inline: 16px;
$tablet-padding-inline: 24px;
$desktop-padding-inline: 30px;

// light-theme
$light-text: #111111; // ще глибший чорний
$light-text-light: #666666; // виразніший сірий
$light-border: #b3b3b3; // чіткий контрастний бордер

$light-icon: #666666; // темно-сірий
$light-icon-active: #111111; // насичений чорний
$light-icon-bg: #dce3f2; // світлий блакитний акцент

$light-card-bg: #ffffff; // чисто білий
$light-page-bg: #f0f4ff; // дуже світлий блакитний фон
$light-menu-bg: #dbe6f0; // світлий приглушений блакитно-сірий — елегантний і м’який

// dark-theme
$dark-text: #ffffff; // чисто білий для максимального контрасту
$dark-text-light: #bbbbbb; // м’якший, але ще помітний
$dark-border: #666f7a; // світліший і холодніший бордер

$dark-icon: #bbbbbb; // м’яко-сірий
$dark-icon-active: #ffffff; // яскравий
$dark-icon-bg: #334155; // холодний насичений синій (Tailwind slate-800)

$dark-card-bg: #1f2937; // темний, але не повністю чорний (Tailwind gray-800)
$dark-page-bg: #0f172a; // насичений темний синій (Tailwind slate-900)
$dark-menu-bg: #2a3440; // темний синьо-сірий з холодним тоном — глибокий і стриманий

//Global colors
$primary: #ffb400;
$primary-hover: #f78f42;
$highlight-bg: #f78f421a;
$shadow: rgba(0, 0, 0, 0.1);
$green: #7eb942;
$white: #fff;
$black: #131313;
