// viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

// inline paddings
$mobile-padding-inline: 16px;
$tablet-padding-inline: 24px;
$desktop-padding-inline: 30px;

// light-theme
$light-text: #2b2b2b;
$light-text-light: #767676;
$light-border: #f0f0f6;

$light-icon: #767676;
$light-icon-active: #2b2b2b;
$light-icon-bg: #f0f0f6;

$light-card-bg: #fff;
$light-page-bg: #f0f0f6;
$light-menu-bg: #fafafa;

$light-primary: #ffb400;
$light-primary-hover: #f78f42;

// dark-theme
$dark-text: #ffffff;
$dark-text-light: #bababf;
$dark-border: #f0f0f6;

$dark-icon: #767676;
$dark-icon-active: #131313;
$dark-icon-bg: #f0f0f6;

$dark-card-bg: #1c1c1c;
$dark-page-bg: #131313;
$dark-menu-bg: #1c1c1c;

$dark-primary: #ffb400;
$dark-primary-hover: #f78f42;

//Global colors
$highlight-bg: #f78f421a;
$shadow: rgba(0, 0, 0, 0.1);
$green: #7eb942;
$white: #fff;

//Fonts
$main-font: 'Arial';
