.card {
  text-align: left;
  background: var(--card-bg);
  padding: 24px;
  gap: 32px;
  border-radius: 12px;

  @include on-tablet {
    display: grid;
    grid-template-columns: 250px 1fr;
  }

  &__left {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    @include on-tablet {
      align-items: flex-start;
      margin: 0;
    }
  }

  &__duration {
    @include text-base-regular;
    padding: 4px 12px;
    border-radius: 0.5rem;

    background: $highlight-bg;
    width: fit-content;
  }

  &__wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__status {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__icon {
    width: 45px;
    height: 45px;

    svg {
      width: 100%;
      height: 100%;

      path {
        fill: var(--icon-active);
      }
    }
  }

  &__company {
    @include text-lg-semi;
  }

  &__position {
    @include text-lg-medium;
    color: $primary-active;
    margin: 0;
  }

  &__responsibilities {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    color: var(--text-light);

    list-style: disc;
    padding-left: 16px;
  }
}
