.hero {
  display: block;

  &__container {
    background: var(--card-bg);
    border-radius: 12px;

    @include on-tablet {
      display: grid;
      grid-template-columns: 3fr 2fr;
    }
  }

  &__content {
    padding: 32px;
    text-align: center;

    @include on-tablet {
      text-align: left;
      padding: 40px;
    }
  }

  &__photo {
    display: none;
    position: relative;

    @include on-tablet {
      display: block;
      height: 100%;
      width: 100%;
    }

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    @include text-3xl-semi;
    margin: 0;
    margin-bottom: 1rem;

    @include on-desktop {
      @include text-5xl-semi;
    }

    span {
      color: $primary;
    }
  }

  &__subtitle {
    margin-bottom: 1.5rem;
    color: var(--text-light);
  }

  &__action {
    width: fit-content;
    min-height: 44px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 56px;
    padding: 4px;
    padding-left: 24px;
    border: none;
    background: $primary;
    margin: 0 auto;

    @include text-base-medium;
    @include transition;

    @include on-tablet {
      margin: 0;
    }

    &:hover {
      background: $primary-active;

      .hero__icon {
        @include pulse(2s, 1.2, 0.9);

        path {
          stroke: $primary-active;
        }
      }
    }
  }

  &__icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: $black;

    @include transition;

    path {
      stroke: $primary;
    }
  }
}
