.footer {
  &__container {
    min-height: 60px;
    background: var(--menu-bg);

    border-radius: 12px 12px 0 0;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
