@use '@/styles/abstracts/variables' as *;

body.theme-dark {
  --text: #{$dark-text};
  --text-light: #{$dark-text-light};
  --icon: #{$dark-icon};
  --icon-active: #{$dark-icon-active};

  --icon-bg: #{$dark-icon-bg};
  --card-bg: #{$dark-card-bg};
  --card-bg-rgb: #{$dark-card-bg-rgb};
  --page-bg: #{$dark-page-bg};
  --menu-bg: #{$dark-menu-bg};
  --border: #{$dark-border};
}
