@import '@/styles/abstracts';

body.theme-dark {
  --text: #{$dark-text};
  --text-light: #{$dark-text-light};
  --icon: #{$dark-icon};
  --icon-active: #{$dark-icon-active};

  --icon-bg: #{$dark-icon-bg};
  --card-bg: #{$dark-card-bg};
  --page-bg: #{$dark-page-bg};
  --menu-bg: #{$dark-menu-bg};
  --primary: #{$dark-primary};
  --primary-hover: #{$dark-primary-hover};
  --border: #{$dark-border};

  --white: #{$white};
  --highlight-bg: #{$highlight-bg};
  --shadow: #{$shadow};
  --green: #{$green};
}
